:root{
    --background: #121212;
    --text: #FAFAFA;
    --title: #ffc107;
    --gray: #706d6d;
    --primary: #BB86FC;
    --fontFamily: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  transition: all 0.25s linear;
  overflow-x: hidden;
}
.canvas {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* grid-auto-flow: row; */
    min-height: 100vh;
    width: 100vw;
    z-index: 1;
    padding: 1rem;
    transition: padding-top .125s;
    overflow: hidden;
    /* grid-template-rows: 0.25fr 0.5fr 1fr 0.75fr; */
}

#custom-limit-input{
    border: none;
    outline: none;
    width: 25px;
    height: 20px;
    border-bottom: 1px solid var(--gray);
    background-color: transparent;
    color: var(--primary);
    font-size: 16px;
}

#custom-limit-input:focus{
    border-bottom: 1px solid var(--primary);
}

#custom-limit-input::-webkit-outer-spin-button,
#custom-limit-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header h1 {
    color: var(--primary) !important;
}

h1 {
    color: var(--title);
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    margin-right: 10px;
}
h4{
    margin-right: 10px;
    opacity: 0.7;
}

.stats
{
    display: block;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary);
    bottom: 10%;
}

.input-wrapper{
    max-height: 150px;
}

.main-input {
    display: block;
    max-width: 1000px;
    height: 140px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    .main-input{
      top: 200px;
      width: 60%;
    }
}

.words{
    color: var(--gray);
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    user-select: none;
}
.word{
    margin: 5px 5px;
    display: flex;
    padding-right: 2px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    scroll-margin: 4px;
}

.word-active{
    animation: blink 2s infinite;
    border-top: 1px solid transparent;
    border-bottom: 1px solid;
    scroll-margin: 4px;
}

@keyframes blink{
    0%	
    { 
        border-bottom-color: var(--primary);
    }
    25%	
    { 
        border-bottom-color: var(--gray)
    }
    50%	
    {
         border-bottom-color: var(--primary);
    }
    75%	
    {
        border-bottom-color: var(--gray);
    }
    100%
    {
        border-bottom-color: var(--primary);
    }
};

.word-error{
    border-bottom: 1px solid red;
    scroll-margin: 4px;
}
.char{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.char-correct{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: var(--text);
}
.char-error{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: red;
}
.left-char{
    border-left: 1px solid var(--primary);
    border-right: 1px solid transparent;
}

.right-char{
    border-right: 1px solid var(--primary);
    border-left: 1x solid transparent;
}
.right-char-correct{
    color: var(--text);
    border-right: 1px solid var(--primary);
    border-left: 1px solid transparent;
}
.right-char-error{
    color: red;
    border-right: 1px solid var(--primary);
    border-left: 1px solid transparent;
}
.right-char-error-extra{
    color: red;
    border-right: 1px solid var(--primary);
    border-left: 1px solid transparent;
}

.user-input{
    opacity: 0;
    filter: alpha(opacity=0);
}

.restart-button{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.char-correct-stats{
    color: var(--text);
}
.incorrect-char-stats{
    color: red;
}
.missing-char-stats{
    color: var(--gray);
}
.speedbar{
    opacity: 0.3;
    color:  var(--primary);
}
.active-button{
    color: var(--primary);
}
.inactive-button{
    color: var(--gray);
}

.sound-button{
    color: var(--primary);
}
.sound-button-deactive{
    color: var(--gray);
}

.menu-separator{
    color: var(--gray);
    background-color: none;
    font-size: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 550px){
    .menu-separator{
        margin-left: 0;
        margin-right: 0;
    }
    .restart-button button {
        margin: 8px;
        padding: 0;
    }

    .restart-button button:nth-child(7){
        padding-top: 7px;
    }
}

.stat-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.stat-box .stat-head{
    font-size: 14px;
    color: var(--gray);
}
.stat-box .stat-value{
    font-size: 70px;
    color: var(--primary);
}

.stats section {
    display: flex;
    gap: 5rem;
}

@media (max-width: 1000px){
    .stat-box .stat-value {
        font-size: 40px;
    }
    .stat-box .stat-head {
        font-size: 16px;
    }
    .stats .MuiBox-root {
        gap: 2rem;
    }
    .stats section {
        gap: 2rem;
    }
}

@media (max-width: 700px){
    .stat-box .stat-value{
        font-size: 40px;
    }
    .stat-box .stat-head{
        font-size: 16px;
    }
    .stats .MuiBox-root
    {
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .stats {
        margin-top: 0;
    }

}

.dialog-text-gray{
    background: var(--gray);
    color: white;
    border-radius: 5px;
    padding: 0.2rem;
}
.dialog-text{
    color: white;
    background: transparent;
}
.rem-stats-wrapper {
    display: flex;
    opacity: 0;
    gap: 2rem;
    padding: 2rem;
    justify-content: flex-start;
    width: 100%;
    padding-left: 16.1rem;
}

.rem-stats-wrapper.active {
    opacity: 1;
}

.rem-stats-wrapper .menu-separator {
    font-size: 1.2rem;
}
.rem-stats span,
.rem-wpm span {
    color: var(--primary);
    font-size: 1.5rem;
}

@media (max-width: 500px){
    .rem-stats-wrapper{
        padding-left: 1rem;
    }
    .main-input {
        height: 500px;
    }
}