:root{
    --background: #121212;
    --text: #FAFAFA;
    --title: #ffc107;
    --gray: #706d6d;
    --primary: #BB86FC;
    --fontFamily: "sans-serif";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  transition: all 0.25s linear;
  overflow-x: hidden;
}

.not-found-canvas {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: padding-top .125s;
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    gap: 1rem;
}

.not-found-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-wrapper h1 {
    color: var(--primary);
    font-size: 2rem;
}